@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@twin.org/ui-components-react/css/index.css';

.h-fit span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.bg-cyan-700 {
    --tw-bg-opacity: 1;
    background-color: #FF7C15 !important;
}
ul {
    list-style-type: none;
}
.bg-cyan-600{
    background-color: #1568E4;
    color: white !important;
}
.border-cyan-600 {
    --tw-border-opacity: 1;
    border-color: #1568E4;
}
.text-cyan-600{
    color:#1568E4
}
button:focus{
    border: #1568E4;
}
.bg-cyan-50{
    background-color: #1568E4 !important;
    color: white !important;
}