@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@twin.org/ui-components-react/css/index.css';

.h-fit span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.bg-cyan-700 {
    --tw-bg-opacity: 1;
    background-color: #FF7C15 !important;
}